.form {
  height: 300px;
  width: 400px;
  background-color: white;
}

.header {
  display: flex;
  color: #ffffff;
  border-bottom: 1px solid grey;
  background-color: lightgreen;
}
.input {
  display: flex;
  flex-direction: column;
}

.input input {
  margin-top: 40px;
  padding: 10px;
  border-radius: 10px;
  outline-width: 0;
}

.input button {
  margin-top: 30px;
  width: 200px;
  margin-left: 100px;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  outline-width: 0;
}

.input button:hover {
  transform: scale(1.08);
}
